{% extends "mainhandler.html" %}
{% block body %}
<body>
    <h1>Delete Table Data</h1>
    <form method="POST" action="/delete_table">
        <label for="table_name">Select a table to delete its data:</label><br>
        <select id="table_name" name="table_name">
            <option value="Books">Books</option>
            <option value="Handler">Handlers</option>
            <option value="User">Users</option>
            <option value="Rents">Rents</option>
            <option value="Reservations">Reservations</option>
            <option value="Review">Reviews</option>
            <option value="School_Unit">School units</option>
            <!-- Add more options for other tables -->
        </select><br><br>
        <input type="submit" value="Delete Data">
    </form>
</body>

{% endblock %}


