<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Main Handler</h1>
  <div class=metanav>

    <a href="/">Home Page</a>
    <a href="/totalrents">Total Rents</a>
    <a href="/authors">Authors and Teachers</a>
    <a href="/teachers">Teachers</a>
    <a href="/notrented">Authors not rented</a>
    <a href="/handlersrented">Handlers</a>
    <a href="/themebooks">Books and Themes</a>
    <a href="/about">Authors with least books</a>

  </div>
  {% block body %}{% endblock %}
</div>