{% extends "usermain.html" %}
{% block body %}
<center>
  <h2>Your Rents</h2>

  <div id="infoContainer">
    {% if results %}
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Theme</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for row in results %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>You have not rent any of books</p>
    {% endif %}
  </div>
</center>


{% endblock %}
