{% extends "mainhandler.html" %}
{% block body %}
<center>
  <h2>Teacher with the Most Rents</h2>

  <div id="infoContainer">
    {% if results %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Total Borrowed</th>
          </tr>
        </thead>
        <tbody>
          {% for row in results %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No teacher found with the most rents.</p>
    {% endif %}
  </div>
</center>


{% endblock %}
