{% extends "mainhandler.html" %}
{% block body %}
<center>
  <h2>TOP 3 Double - Categories</h2>

  <div id="infoContainer">
    {% if results %}
      <table>
        <thead>
          <tr>
            <th>Theme1</th>
            <th>Theme2</th>
            <th>Total_Borrowings</th>
          </tr>
        </thead>
        <tbody>
          {% for row in results %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There is no top 3 "double" categories</p>
    {% endif %}
  </div>
</center>


{% endblock %}
